.animated-gradient {
    /* background: linear-gradient(60deg, #4a90e2, #6a5acd, #b0e0e6); */
    background: linear-gradient(60deg, #003465, #264eca, #d1dbff);
    background-size: 300% 300%;
    position: relative;
    overflow: hidden;
    animation: gradientBG 10s ease infinite;
  }
  
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animated-gradient::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 20%, transparent 60%);
    animation: pulse 8s infinite ease-in-out;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1.1);
      opacity: 0.6;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.4;
    }
    100% {
      transform: scale(1.1);
      opacity: 0.6;
    }
  }
  